.school, .graduate, .edu-date {
    width: 2em;
}

.educate-box {
    border: 2px solid #3bd9f5;
    background-color: #4a5354;
    border-radius: 10px;
}

.educate-box:hover {
    border: 2px dashed #4a5354;
    background-color: #3bd9f5;
    border-radius: 10px;
    color: #4a5354;
}