.progress-bar {
    display: inline-block;
    width: 10em;
    border: 1px solid gray;
    height: 0.5em;
    background-color: #0ECAEB;
    /* border-end-end-radius: 1em;
    border-end-start-radius: 1em;
    border-start-end-radius: 1em;
    border-start-start-radius: 1em ; */
    border-radius: 1em;
}

.progress-bar-indicator {
    display: inline-block;
    height: 5em;
    width: 6em;
    margin: 2px;
}

@media (min-width:310px) and (max-width: 349px ) {
    .skill-card {
        display: grid;
        grid-template-columns: 1fr 1fr;   
    }
}

@media (min-width:350px) and (max-width: 694px) {
    .skill-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}

@media (min-width: 695px) {
    .skill-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .skill-card {
        display: flex;
    }
}