/* .quotes {
    
} */

.quotes figure, .quotes blockquote {
    margin-inline: 0.5em;
    margin-block: 0.5em;
}

.quotes{
    width: 100%;
}
/* @media (max-width: 426px) {
    .quotes {
        width: 10em;
    }
} */