/* .progress-bar {
    display: inline-block;
    width: 10em;
    border: 1px solid gray;
    height: 0.5em;
    background-color: #0ECAEB;
    border-radius: 1em;
} */

/* .progress-bar-indicator {
    display: inline-block;
    height: 5em;
    width: 6em;
    margin: 2px;
} */

/* .skill-cardly-body div {
    width: 100%;
    margin-inline: 2em 
} */

.skill-cardly1, .skill-cardly2, .skill-cardly3, .skill-cardly4, .skill-cardly5 {
    width: 18%;
    margin-inline: 1%;
}

.skill-card {
    border: 2px solid #3bd9f5;
    border-radius: 10px;
    padding: 5px;
    background-color: #4a5354;
}

.skill-card:hover {
    border: 2px dashed #4a5354;
    border-radius: 10px;
    padding: 5px;
    color: #4a5354;
    background-color: #3bd9f5;
}

@media (max-width: 320px ) {
    .skill-card {
        display: grid;
        grid-template-columns: 1fr 1fr;   
    }

    .skill-card span {
        display: inline-block;
        width: 5em;
    }
}

@media (min-width:321px) and (max-width: 517px ) {
    .skill-card {
        display: grid;
        grid-template-columns: 1fr 1fr;   
    }

    .skill-card span {
        display: inline-block;
        width: 5em;
    }
}

@media (min-width:519px) and (max-width: 694px) {
    .skill-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .skill-card span {
        display: inline-block;
        width: 5em;
    }
}

@media (min-width: 695px) {
    .skill-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .skill-card span {
        display: inline-block;
        width: 5em;
    }
}

@media (min-width: 770px) {
    .skill-card {
        display: flex;
    }
}