nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    margin-inline: 25%;
    margin-block-start: 3em;
}

nav div {
    margin: 0;
}

.nav-link {
    text-decoration: none;
    color: #0ECAEB;
}