article {
    margin-inline: 1em;
    margin-block-start: 5em;
}
article section {
    display: inline-block;
    width: 100%;
}

section h2 {
    border: 2px solid #3bd9f5;
    width: 20%;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    
    transform: skew(30deg, 3deg);
    /* transform: rotate(10deg); */
}

.cards {
    width: 70%;
}

aside {
    background-color: #4a5354;
    float: right;
    width: 25%;
    margin-inline: 0.5em;
    padding-inline: 0.5em;
}

@media (max-width: 426px) {
    aside {
        background-color: #4a5354;
        float: right;
        width: 92%;
        margin-inline: 0.5em;
        padding-inline: 0.5em;
    }
}

.profile-pix {
    height: 25em;
    border-radius: 80px;
    border: 2px dashed #3bd9f5;
}

/* .clocky {
    top: -2em;
    left: calc(100% - 5em);
}

.star {
    top: 3em;
    left: calc(100% - 12em);
}

.play {
    top: 1em;
    left: calc(100% - 10em);
} */

.x-mark {
    position: static;
    top: 5em;
    left: calc(100% - 25em);
}

.greater-than-symbol {
    top: 7em;
    left: calc(100% - 25em);
}

/* h3 {
    width: 6em;
    margin: 0px;
} */

.viewport-page {
    height: 95.40vh;
    width: 100%;
}
