article {
    /* margin-inline: 1em; */
    margin: 0 auto;
    margin-block-start: 5em;
    /* width: 100%;
    margin: 0 auto; */
}
article section {
    display: inline-block;
    width: 100%;
}


section h2 {
    border: 2px solid #3bd9f5;
    width: 35%;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    font-size: 3vw;
    transform: skew(30deg, 3deg);
    /* transform: rotate(10deg); */
}

section .book {
    margin-bottom: 1px;
}

.cards {
    width: 40%;
}

.cards div {
    width: 100%;
    margin: 0 auto;
}

article aside {
    background-color: #4a5354;
    width: 30rem;
    float: right;
    padding-inline: 0.5em;
    border-radius: 5px;
    margin: 0 auto;
}

@media (max-width: 426px) {
    article aside {
        background-color: #3bd9f5;
        width: 92%;
        margin: 0 auto;
        /* margin-inline: 0.5em; */
        padding-inline: 0.5em;
    }

    .cards img {
        /* max-inline-size: 100%; */
        /* block-size: auto;
        object-fit: contain; */
        height: 25em;
        margin-top: 4vh;
        /* width: 300px; */
        border-radius: 80px;
        /* border: 2px dashed #3bd9f5;   */
    }

    .cards div {
        width: 34%;
        margin: 0 auto;
    }

    .cards {
        width: 25%;
        margin: 0 auto
    }

}

.cards img {
    height: 25em;
    border-radius: 80px;
    /* border: 2px dashed #3bd9f5; */
    /* margin: 0 auto; */
    /* margin-left: 3rem; */
}

/* @media (min-width: 519px) and (max-width: 694px) { */
@media (min-width: 427px) and (max-width: 916px) {
    .cards img {
        max-inline-size: 100%;
        block-size: auto;
        object-fit: contain;
        height: 25em;
        margin-top: 4vh;
        /* width: 300px; */
        border-radius: 80px;
        /* border: 2px dashed #3bd9f5;   */
    }

    .cards-img {
        width: 20%;
        margin: 0 auto;

    }

    .cards div {
        width: 34%;
        margin: 0 auto;
    }

    .cards {
        width: 100%;
        margin: 0 auto
    }

    article aside {
        background-color: #4b4a54;
        width: 100%;
        /* float: center; */
        padding-inline: 0.5em;
        border-radius: 5px;
        margin: 0 auto;
    }
}

/* .clocky {
    top: -2em;
    left: calc(100% - 5em);
}

.star {
    top: 3em;
    left: calc(100% - 12em);
}

.play {
    top: 1em;
    left: calc(100% - 10em);
} */

.x-mark {
    position: static;
    top: 5em;
    left: calc(100% - 25em);
}

.greater-than-symbol {
    top: 7em;
    left: calc(100% - 25em);
}

/* h3 {
    width: 6em;
    margin: 0px;
} */

.viewport-page {
    height: 95.40vh;
    width: 100%;
}
