.books {
    border: 2px solid skyblue;
    width: 25em;
    margin-block-start: 1em;
    margin-inline-start: 3em;
}

.book-footer {
    background-color: skyblue;
}

.sucex-law, .goals, .seven-habits {
    width: 20em;
    height: 22px;
}

.row-it {
        display: flex;
        flex-direction: row;
        flex: 1;
}

.book-body img {
    max-width: 100%;
    height: 50vh;
}

.book-title h3 {
    width: 95%;
}