.books {
    width: 25em;
    margin-block-start: 3em;
    margin-inline-start: 0.7em;
    margin-block-end: 2em;
}

.book-footer {
    background-color: #0ECAEB;
}

.row-it {
        display: flex;
        flex-direction: row;
        flex: 1;
}

.row-it img {
    /* height: 15rem;
    width: 25rem; */
    height: 50rem;
    width: 50rem;
}

.book-body {
    padding: 2em;
    /* margin: 0 auto; */
    border: 2px solid #0ECAEB;
    background-color: #4a5354;
    border-radius: 10px;
}

.book-body:hover {
    padding: 5em;
    /* margin: 0 auto; */
    border: 2px dashed #4a5354;
    background-color: #0ECAEB;
    border-radius: 10px;
}

.book-body img {
    max-width: 100%;
    height: 40vh;
}

.book-body > p {
    margin-block-start: 0;
}

@media (max-width: 768px) {
    .row-it {
        display: flex;
        flex-direction: column;
    }

    .book-body {
        padding-inline: 1em;
    }

    .books {
        width: 100%;
        margin-block-start: 5em;
        margin-inline-start: 0.5em;
        margin-block-end: 2em;
    }

    .row-it img {
        /* align-self: center; */
        margin: 0 auto;
    }
}


/* @media (min-width: 440) and (max-width: 767) {
    .row-it {
        display: flex;
        flex-direction: column;
    }

    .book-body {
        padding-inline: 1em;
    }

    .books {
        width: 100%;
        margin-block-start: 5em;
        margin-inline-start: 0.5em;
        margin-block-end: 2em;
    }
} */
