.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    scroll-behavior: smooth;
}

.course {
    flex-shrink: 0;
    flex-basis: 30em;
    scroll-snap-align: start;
}

img {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
}