::-webkit-scrollbar {
    width: 0px;
}
.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    scroll-behavior: smooth;
    margin-block-start: 2em;
}

.course {
    flex-shrink: 0;
    /* width: 400px;
    height: 550px;
    border-radius: 10px;
    margin-inline-start: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    flex-basis: 25em;
    scroll-snap-align: start;
    background-color: #0e0f13;
}

img {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
}