.funy {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    /* margin-inline: 1em; */

}

.funy :nth-child(6) {
    border: 5px solid skyblue;
    border-radius: 50%;
    position: relative;
    top: 180px;
    left: 272.86px;
}

.funy :nth-child(5) {
    border: 5px solid darkcyan;
    position: relative;
    left: calc(100% + 20vw );
    /* left: 950%; */
    top: 450%;
}

.placing {
    border: 5px solid blue;
    border-radius: 50%;
    position: relative;
    /* top: 20em; */
    top: 360px;
    left: 51.15em;
}